<footer>
	<div class="container">
		<div class="footer-wrapper">
			<div class="footer-img">
				<img src="img/footer-logo.png" alt="" class="img-responsive">
			</div>
			<div class="footer-copyright">
				<p>&copy; 2018 JetCity Device Repair</p>
			</div>
		</div>
	</div>
</footer>