<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="img/logo.png" alt="" class="img-responsive">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-nav__bottom">
        <li class="nav-link">
          <a href="#">
            <i class="nav-icon nav-icon__iphone"></i>
            iPhone
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <i class="nav-icon nav-icon__ipad"></i>
            iPad
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <i class="nav-icon nav-icon__samsung"></i>
            Samsung
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-nav__top">
        <li><a href="#">FAQ</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">What People Say</a></li>
        <li><a href="#">Our Locations</a></li> 
        <li><a href="#">Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-nav__bottom">
        <li class="nav-link">
          <a href="#">
            <i class="nav-icon nav-icon__samsung"></i>
            Other Repairs
          </a>
        </li>
        <li><a href="#" class="btn btn-warning">Schedule Repairs</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>