{% extends "layout.html" %}
{% block content %}
<section class="section">
    <div class="container" id="myWizard">
        <div class="progress-wrapper">
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="5" style="width: 33%;">
                </div>
            </div>
            <div class="navbar-inner">
                <ul class="nav nav-pills">
                    <li class="active done">
                        <a class="not-active" href="#step1" data-toggle="tab" data-step="1">1</a>
                        <p>Device</p>
                    </li>
                    <li>
                        <a class="not-active" href="#step2" data-toggle="tab" data-step="2">2</a>
                        <p class="text-center">Repair</p>
                    </li>
                    <li>
                        <a class="not-active" href="#step3" data-toggle="tab" data-step="3">3</a>
                        <p class="text-right">Location</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade in active tab-pane__first" id="step1">
                <h1 class="title title-blue text-center">Select your device</h1>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <select class="select-custom text-uppercase" id="device">
						 	<optgroup label="Iphone">
                                <option value="Iphone X">Iphone X</option>
                                <option value="Iphone 8">Iphone 8</option>
                                <option value="Iphone 8 Plus">Iphone 8 Plus</option>
                                <option value="Iphone 7">Iphone 7</option>
                                <option value="Iphone 7 Plus">Iphone 7 Plus</option>
                                <option value="Iphone 6s">Iphone 6s</option>
                                <option value="Iphone 6s Plus">Iphone 6s Plus</option>
                                <option value="Iphone SE">Iphone SE</option>
                                <option value="Iphone 5/5c/5s">Iphone 5/5c/5s</option>
                            </optgroup>
						</select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default btn-lg btn-next next">Next</buton>
                    </div>
                </div>
                <div class="contact-us__wrapper">
                    <p>
                        Don't see your device listed<br>
                        <a href="#" class="blue text-uppercase">Contact us</a> at one of our locations.
                    </p>
                </div>
            </div>
            <div class="tab-pane fade tab-pane__second" id="step2">
                <div class="selected-option">
                	<p id="device-selected">1. <span></span></p>
	                <a class="btn btn-default btn-edit prev" href="#">Edit</a>
                </div>
                <h1 class="title title-blue text-center">Select your repair</h1>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                    	<select class="select-custom text-uppercase" id="repair">
						 	<option value="" selected disabled>Select Repair</option>
                            <option value="Screen Repair - $100">Screen Repair - $100</option>
                            <option value="Lcd Repair - $100">Lcd Repair - $120</option>
                            <option value="Battery Replacement - $60">Battery Replacement - $60</option>
                            <option value="Charging Port Repair - $100">Charging Port Repair - $100</option>
                            <option value="Front Camera Replacement - $80">Front Camera Replacement - $80</option>
                            <option value="Back Camera Replacement - $100">Back Camera Replacement - $100</option>
						</select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default btn-lg btn-next next" disabled>Next</button>
                    </div>
                </div>
                 <div class="contact-us__wrapper">
                    <p>
                        Don't see the repair you are looking for?<br>
                        <a href="#" class="blue text-uppercase">Contact us</a> at one of our locations.
                    </p>
                </div>
            </div>
            <div class="tab-pane fade tab-pane__third" id="step3">
				<div class="selected-option">
                	<p id="device-selected">1. <span></span></p>
	                <a class="btn btn-default btn-edit first" href="#">Edit</a>
                </div>
                <div class="selected-option">
                	<p id="repair-selected">2. <span></span></p>
	                <a class="btn btn-default btn-edit prev" href="#">Edit</a>
                </div>
                <h1 class="title title-blue text-center">Select your location</h1>
                <div class="row row-center">
                	<div class="col-md-4">
                		<div class="img-wrapper">
                			<img src="img/office.png" alt="" class="img-responsive">
                			<h2 class="text-center">No appointment<br>necessary.</h2>
                		</div>
                        <select class="select-custom text-uppercase">
						 	<optgroup label="IL">
                                <option value="Chicago (Lincoln Park), IL">Chicago (Lincoln Park), IL</option>
                                <option value="Chicago (Loop), IL">Chicago (Loop), IL</option>
                            </optgroup>
                            <optgroup label="WA">
                                <option value="Seattle (Wallingford), WA">Seattle (Wallingford), WA</option>
                                <option value="Bellevue, WA">Bellevue, WA</option>
                            </optgroup>
						</select>
                        <p class="text-center">Just bring it into a store any time.</p>
                	</div>
                </div>
                <div class="finish-wrapper">
        			<button class="btn btn-default btn-lg btn-next finish">Next</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}