.section{
	padding-top: 150px;
}
.progress-wrapper{
	position: relative;
	margin-bottom: 50px;
    margin: 0 10px;
}
.nav-pills > li + li {
    margin-left: 10px;
}
.progress{
    height: 11px;
}
.navbar-inner{
    position: absolute;
    top: -19px;
    width: 100%;
}
.nav-pills{
    display: flex;	
    justify-content: center;
    li{
    	flex-basis: 33%;
    	a{
		    width: 45px;
    		height: 45px;
		    border-radius: 100%;
		    background: #ddd;
		    color: #fff;
		    text-align: center;
	        display: flex;
		    align-items: center;
		    justify-content: center;
		    transition: all .3s ease;
    	}
    	p{
    		margin-top: 10px;
    	}
    	&:first-child{
    		margin-left: -7px;
    	}
    	&:nth-child(2){
    		a{
				margin: auto;
    		}

    	}
    	&:last-child{
			a{
				margin-left: auto;
			}
    	}
    }
}
.progress-bar-success {
    background-color: #2284da;
}
.tab-content{
	margin-top: 65px;
}
.done{
	a{
	    background-color: #2284da !important;
	    color: #fff !important;
	}
}
.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}
.tab-pane{
	.btn-edit{
	    margin-left: 20px;
	}
	&__first{
		.title{
			margin-top: 80px;
			margin-bottom: 50px;
		}
	}
	&__second{
		.title{
			margin-top: 30px;
			margin-bottom: 50px;
		}	
	}
	&__third{
		.selected-option:first-child:after{
			content: '';
			display: none;
		}
		.img-wrapper{
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		}
		.form-control{
			margin-bottom: 10px;
		}
		.finish-wrapper{
			text-align: center;
			margin-top: 40px;
		}
	}
}
.contact-us{
	&__wrapper{
		text-align: center;
		margin-top: 20px;
		a{
			font-size: 14px;
			font-weight: 600;
		}
	}
}
.selected-option{
    background-color: #f5f5f5;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 4px 0px;
    width: 100%;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    p{
    	margin-bottom: 0;
    }
    &:after{
    	content: '';
		width: 0;
		height: 0;
	    border-left: 15px solid transparent;
	    border-right: 15px solid transparent;
	    border-top: 20px solid #f5f5f5;
		position: absolute;
		top: 100%;
    }
}
.select2-container--default .select2-selection--single .select2-selection__rendered {    
    line-height: 48px !important;
    text-transform: uppercase;
    padding-left: 20px !important;
}
.select2-container .select2-selection--single{
	height: 50px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 11px !important;
    right: 13px !important;
}
.select2-results__group,
.select2-results__option{
	text-transform: uppercase !important;
}

.swal2-popup {
  font-size: 1.6rem !important;
}