.btn-next{
    background-color: #2284da;
    padding: 15px 30px;
    border-radius: 30px;
    color: #fafafa;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.2em;
    border: 1px solid #2284da;
    transition: all .3s ease;
    &:hover{
    	background: transparent;
    	color: #2284da;
    	border-color: #2284da;
    }
}
.btn-edit{
	background-color: #2284da;
	border-color: #2284da;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	padding: 5px 8px;
	border: 1px solid #2284da;
    transition: all .3s ease;
    &:hover{
    	background: transparent;
    	color: #2284da;
    	border-color: #2284da;
    }
}
.btn-warning{
    text-transform: uppercase;
    color: #fff !important;
    background: #fd973b;
    border-radius: 30px;
    padding: 13px 30px;
    font-size: 14px;
    letter-spacing: 2px;
    border: 1px solid #fd973b;
    transition: all .3s ease;
    &:hover{
    	background: transparent;
    	color: #fd973b !important;
    	border-color: #fd973b;
    }
}