.section{
	padding: 50px 0;
}
.img-responsive{
	width: 100%;
}
.title{
	font-weight: 600;
    font-size: 40px;
	&-blue{
	    color: #2284da;
	}
}
.container{
	width: 1020px;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-uppercase{
	text-transform: uppercase;
}
.blue{
	color:#2284da;
}
.row-center{
	display: flex;
	justify-content: center;
}