footer{
	padding: 20px 0;
    border-bottom: 10px solid #2284da;
    background-color: #f3f3f3;
}
.footer{
	&-wrapper{
		display: flex;
		align-items: center;
	}
	&-copyright{
		margin-left: 20px;
		p{
			margin-bottom: 0;
		}
	}
}