.navbar{
    padding-top: 60px;
    background: #fff;
    border-bottom: 0;
}
.navbar-brand{
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    width: 250px;
    margin: auto !important;
}
.navbar-nav{
	&__top{
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    margin: auto;
	    display: flex;
	    justify-content: center;
	}
	&__bottom{
		.nav-link a{
		    min-width: 100px;
		    color: #777;
		    padding: 40px 20px;
		    font-size: 18px;
		    text-align: center;
		}
	}
}
.navbar-right{
    display: flex;
    align-items: center;
    .btn{
    	margin-left: 30px;
    }
}
.nav-icon{
	background: url('../img/navicons.png') no-repeat;
	display: block;
    margin: auto;
    &__iphone{
	    background-position: -80px 0;
	    width: 26px;
	    height: 50px;
    }
    &__ipad{
	    background-position: -111px 0;
	    width: 36px;
	    height: 50px;
    }
    &__samsung{
	    background-position: 0 0;
	    width: 28px;
	    height: 50px;
    }
}