@media (max-width: 992px){
	.btn-next{
		margin-top: 20px;
	}
}
@media (max-width: 768px) {
    .navbar-header {
        float: none;
    }

    .navbar-left,
    .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }

    .navbar-brand {
        position: static;
        width: unset;
        top: 0;
        height: unset;

        img {
            width: 70px;
        }
    }

    .navbar {
        padding-top: 0;
        &-header{
		    display: flex;
    	    align-items: center;
		    flex-direction: row-reverse;
        }
        &-brand{
        	margin: 0 !important;
        	margin-right: auto !important;
        }
    }
    .container {
	    width: 750px !important;
	}
	.section{
		padding-top: 50px !important;
	}
	.navbar-nav__top{
		position: static;
		flex-direction: column;
	}
	.nav-icon{
		display: none;
	}
	.navbar-nav__bottom {
		.nav-link a{
		    padding: 10px 15px;
		    min-width: unset;
		    text-align: left;
		}
	}
	.navbar-right{
		flex-direction: column;
    	align-items: flex-start;
    	.btn-warning{
    		margin: 10px 0;
    		margin-left: 0;
    	}
	}
	.navbar-collapse {
		border-top: 0;
	}
}
@media (max-width: 640px){
	.container{
		max-width: 600px;
	}
}
@media (max-width: 480px){
	.container{
		max-width: 450px;
	}
}
@media (max-width: 426px){
	.container{
		max-width: 400px;
	}
}
@media (max-width: 376px){
	.container{
		max-width: 350px;
	}
}
@media (max-width: 320px){
	.container{
		max-width: 300px;
	}
}