// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-primary:'Source Sans Pro', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: #666;

// Colors
$color-default: #ebebeb;
$color-default-inverse: #777;

$color-muted: #999;

$color-primary: #53b577;
$color-primary-inverse: #FFF;

$color-secondary: #E36159;
$color-secondary-inverse: #FFF;

$color-success: #47a447;
$color-success-inverse: #FFF;

$color-info: #5bc0de;
$color-info-inverse: #FFF;

$color-warning: #ed9c28;
$color-warning-inverse: #FFF;

$color-danger: #d2322d;
$color-danger-inverse: #FFF;

// Header
$header-height: 80px;
$header-text-color: #ccc;
$header-font-size: 18px;

body{
	font-family: $font-primary !important;
    font-size: 18px !important;
    overflow-x:hidden !important;
}